@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-state-300: hsl(212, 45%, 89%);
    --color-state-500: hsl(216, 15%, 48%);
    --color-state-900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-state-300);
    font-family: 'Outfit';
}

.container{
    width: 320px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 230px auto;
    padding: 16px 16px 40px;
    border-radius: 20px;
}

.container__section__qr__imageQr{
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.container__section__info__title{
    color: var(--color-state-900);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.container__section__info__paragraph{
    color: var(--color-state-500);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.attribution {
    font-size: 18px;
    text-align: center; 
    margin-top: auto;
    padding: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}